<!doctype html>
<html {% block htmlAttrs %}{% endblock %}>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="{% block metaAuthor %}{% endblock %}">
    <meta name="description" content="{% block metaDescription %}{% endblock %}">

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    {% block favicon %}{% endblock %}
</head>

<body {% block bodyAttrs %}{% endblock %}>
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</body>
</html>