{% extends 'base.html' %}

{% block stylesheets %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/uikit.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/cards.css' %}"/>
{% endblock %}

{% block body %}
    {% block navbar %}
        {% include 'layout/header.html' %}
        <div class="spacer"></div>
    {% endblock %}

    <div class="uk-container uk-container-expand">
        <section class="uk-section uk-section-small uk-section-default uk-padding-remove-bottom">
            {% block content %}{% endblock %}
        </section>
    </div>
    {% block footer %}
        {% include 'layout/footer.html' %}
    {% endblock %}

    {% block offcanvas %}
        {% include 'layout/offcanvas.html' %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{% static 'js/uikit.js' %}"></script>
    <script src="{% static 'js/uikit-icons.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/ajaxManageCollection.js' %}"></script>
{% endblock %}